Repository Azure/Azure_IoT_Solution_Accelerators_dotnet, changes with the owners that docs/CODEOWNERS names for each.
All owners: @timlaverty, @dluc, @ppathan, @molly-moen, @sushilraje, @jillcary, @isaac73, @zhang-hua, @elvinm

Updates for creating default simulation for DS solution
  pcs-config/Services/External/DeviceSimulationClient.cs
  pcs-config/Services/Runtime/ServicesConfig.cs
  pcs-config/Services/Seed.cs
  pcs-config/WebService/Runtime/Config.cs
  pcs-config/WebService/Startup.cs
  pcs-config/WebService/appsettings.ini
Owners: @isaac73, @zhang-hua

Updates
  pcs-config/Services/Seed.cs
  pcs-config/WebService/Startup.cs
Owners: @isaac73, @zhang-hua

Updates
  pcs-config/Services/Data/default.json
  pcs-config/Services/Data/device-simulation-template.json
  pcs-config/Services/External/DeviceSimulationClient.cs
  pcs-config/Services/External/SimulationApiModel.cs
  pcs-config/Services/Models/Template.cs
  pcs-config/Services/Seed.cs
  pcs-config/Services/Services.csproj
Owners: @isaac73, @zhang-hua

update
  pcs-config/Services/Data/device-simulation-template.json
Owners: @isaac73, @zhang-hua

Updates
  pcs-config/Services/Seed.cs
  pcs-config/WebService/appsettings.ini
Owners: @isaac73, @zhang-hua

updates
  pcs-config/Services/External/DeviceSimulationClient.cs
Owners: @isaac73, @zhang-hua

VS code scripts to add TSI env vars and few other changes
  scripts/local/launch/idesettings/vscode/launch.json
  scripts/local/launch/idesettings/vscode/tasks.json
Owners: @timlaverty, @dluc, @ppathan

added TSI variables
  scripts/local/launch/idesettings/vscode/launch.json
  scripts/local/launch/idesettings/vscode/tasks.json
Owners: @timlaverty, @dluc, @ppathan

Added TSI and other launch settings
  scripts/local/launch/idesettings/vscode/launch.json
  scripts/local/launch/idesettings/vscode/tasks.json
Owners: @timlaverty, @dluc, @ppathan

Updating properties for each of the web services in our microservices to remove the IIS config and default to a local web service
  asa-manager/WebService/Properties/launchSettings.json
  config/WebService/Properties/launchSettings.json
  device-telemetry/WebService/Properties/launchSettings.json
  iothub-manager/WebService/Properties/launchSettings.json
  remote-monitoring.sln
  storage-adapter/WebService/Properties/launchSettings.json
Owners: @zhang-hua, @molly-moen, @timlaverty, @dluc, @ppathan, @jillcary, @sushilraje

Removing launchSettings.json for Auth web service from ignore list.
  auth/.gitignore
Owners: @timlaverty, @dluc, @ppathan

Updating launchSettings.json for Auth WebService to remove IIS config settings
  auth/WebService/Properties/launchSettings.json
Owners: @timlaverty, @dluc, @ppathan

Added env variables
  auth/WebService/Properties/launchSettings.json
Owners: @timlaverty, @dluc, @ppathan

Update .gitignore
  auth/.gitignore
Owners: @timlaverty, @dluc, @ppathan

Update .gitignore
  auth/.gitignore
Owners: @timlaverty, @dluc, @ppathan

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

ADM bug fix
  iothub-manager/Services.Test/DeploymentsTest.cs
  iothub-manager/Services/Deployments.cs
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
  iothub-manager/Services/Models/DeploymentServiceModel.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

ADM bug fix
  iothub-manager/Services.Test/DeploymentsTest.cs
  iothub-manager/Services/Deployments.cs
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
  iothub-manager/Services/Models/DeploymentServiceModel.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

bug fixes
  iothub-manager/Services/Models/DeviceStatusQueries.cs
  iothub-manager/WebService/v1/Models/DeploymentMetricsApiModel.cs
Owners: @molly-moen, @sushilraje

bug fixes
  iothub-manager/Services/Models/DeviceStatusQueries.cs
  iothub-manager/WebService/v1/Models/DeploymentMetricsApiModel.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
Owners: @molly-moen, @sushilraje

updates
  iothub-manager/Services/Models/DeviceStatusQueries.cs
  iothub-manager/WebService/v1/Models/DeploymentMetricsApiModel.cs
Owners: @molly-moen, @sushilraje

Refactors devices service to remove obsolete Registry method [WIP] refactors unit tests
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services.Test/helpers/ResultQuery.cs
  iothub-manager/Services/Devices.cs
  iothub-manager/Services/Models/DeviceServiceModel.cs
Owners: @molly-moen, @sushilraje

removes commented code fixes unit test
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services/Devices.cs
Owners: @molly-moen, @sushilraje

[WIP] unit test fix
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services/Devices.cs
Owners: @molly-moen, @sushilraje

fixed broken unit tests after refactoring
  iothub-manager/Services/Devices.cs
Owners: @molly-moen, @sushilraje

minor refactorings to remove compiler warnings closes item 152 removes authentication keys from GetListAsync response refactors unit test to remove dependency on GetDevices Async
  auth/Services.Test/UsersTest.cs
  auth/Services/IStatusService.cs
  auth/Services/StatusService.cs
  auth/WebService/v1/Controllers/StatusController.cs
  config/WebService.Test/Controllers/PackageControllerTest.cs
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services/Devices.cs
  iothub-manager/Services/Models/DeviceServiceModel.cs
Owners: @timlaverty, @dluc, @ppathan, @molly-moen, @sushilraje

resolves first round of PR feedback
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services.Test/helpers/ResultQuery.cs
  iothub-manager/Services/Devices.cs
Owners: @molly-moen, @sushilraje

fixes an issues whereby DeviceRegistryApiModel throws an exception if the Authentication mechanism is empty
  iothub-manager/WebService/v1/Models/DeviceRegistryApiModel.cs
Owners: @molly-moen, @sushilraje

simplies previous commit
  iothub-manager/WebService/v1/Models/DeviceRegistryApiModel.cs
Owners: @molly-moen, @sushilraje

Update README.md
  config/README.md
Owners: @timlaverty, @dluc, @ppathan

Update README.md
  config/README.md
Owners: @timlaverty, @dluc, @ppathan

reverts changes to IStatus interface
  auth/Services/IStatusService.cs
  auth/Services/StatusService.cs
  auth/WebService/v1/Controllers/StatusController.cs
Owners: @timlaverty, @dluc, @ppathan

Update LOCAL_DEPLOYMENT.md
  docs/LOCAL_DEPLOYMENT.md
Owners: @timlaverty, @dluc, @ppathan

Markdown changes
  docs/LOCAL_DEPLOYMENT.md
Owners: @timlaverty, @dluc, @ppathan

docs/CODEOWNERS:

# For more info see https://help.github.com/articles/about-codeowners

# Order is important; the last matching pattern takes the most precedence.

*                   @timlaverty @dluc @ppathan

LICENSE             @timlaverty @dluc @ppathan
iothub-manager      @molly-moen @sushilraje
device-telemetry    @molly-moen @jillcary
pcs-storage-adapter @sushilraje @isaac73
asa-manager         @zhang-hua @molly-moen
pcs-auth            @elvinm @jillcary
pcs-config          @isaac73 @zhang-hua
