Repository Azure/Azure_IoT_Solution_Accelerators_dotnet, changes with the owners that docs/CODEOWNERS names for each.
All owners: @timlaverty, @dluc, @ppathan, @molly-moen, @sushilraje, @jillcary, @isaac73, @zhang-hua, @elvinm

docs/CODEOWNERS:

# For more info see https://help.github.com/articles/about-codeowners

# Order is important; the last matching pattern takes the most precedence.

*                   @timlaverty @dluc @ppathan

LICENSE             @timlaverty @dluc @ppathan
iothub-manager      @molly-moen @sushilraje
device-telemetry    @molly-moen @jillcary
pcs-storage-adapter @sushilraje @isaac73
asa-manager         @zhang-hua @molly-moen
pcs-auth            @elvinm @jillcary
pcs-config          @isaac73 @zhang-hua

Bug fix
  device-simulation/scripts/docker/run.cmd
Owners: @timlaverty, @dluc, @ppathan

Update run.cmd
  device-simulation/scripts/docker/run.cmd
Owners: @timlaverty, @dluc, @ppathan

OS agnostic path delimiters in Device Telemetry unit tests
  device-telemetry/ActionsAgent.Test/ActionManagerTest.cs
  device-telemetry/Services.Test/TimeSeries/TimeSeriesValueListApiModelTest.cs
Owners: @molly-moen, @jillcary

order of using
  device-telemetry/ActionsAgent.Test/ActionManagerTest.cs
Owners: @molly-moen, @jillcary

Modifying the code to align USER_MANAGEMENT_URL_KEY with its appsettings.ini
  config/WebService/Runtime/Config.cs
Owners: @timlaverty, @dluc, @ppathan

bump to dotnet 2.1.13 on bionic
  asa-manager/scripts/docker/Dockerfile
Owners: @zhang-hua, @molly-moen
